@page
@model ArmisWebsite.Pages.Part.MaterialSeriesEntryModel
@{
    ViewData["Title"] = "MaterialSeriesEntry";
}
<div class="container-fluid w-75">
    <h1 mb-4>Series Entry</h1>

    @if (Model.Message != null)
    {
        @*Preloaded message.*@
        <p><partial name="/Pages/shared/partials/popupmessagepartial.cshtml" model="Model.Message" /></p>
    }
    <form method="post">
        <div class="row">

            <div class="col-lg-6">
                <h5 class="mb-3">Enter a new material series</h5>
                <div class="form-inline mb-3 row">
                    <label class="col-lg-3 justify-content-end">Short Name: </label>
                    <input class="form-control col-lg-8" asp-for="ShortName" />
                    <div class="col-lg-3"></div>
                    <span class="text-danger" asp-validation-for="ShortName"></span>
                </div>

                <div class="form-inline mb-3 row">
                    <label class="col-lg-3 justify-content-end">Description: </label>
                    <textarea class="form-control col-lg-8" asp-for="Description"></textarea>
                    <div class="col-lg-3"></div>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>

                <div class="form-inline mb-3 row">
                    <label class="col-lg-3 justify-content-end">Type: </label>
                    <input class="form-control col-lg-8" asp-for="Type" />
                    <div class="col-lg-3"></div>
                    <span class="text-danger" asp-validation-for="Type"></span>
                </div>

                <div class="mr-5 mt-3 float-right">
                    <button type="submit" class="btn btn-success">Create</button>
                    <a type="button" class="btn btn-danger" asp-page="HardnessEntry">Reset</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="input-group my-1">
                    <input type="text" class="form-control border-right-0" placeholder="Search..." onkeyup="searchSeriesList(this.value)" />
                    <span class="input-group-append bg-white border-left-0">
                        <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
                    </span>
                </div>
                <ul id="ulSeriesList" class="list-group w-100" style="max-height: 42em; overflow:scroll;">
                    @if (Model.AllMaterialSeries.Any())
                    {
                        @foreach (var series in Model.AllMaterialSeries)
                        {
                            <li class="list-group-item" data-series-name="@series.ShortName">
                                <h5>@series.MaterialSeriesId. @series.ShortName </h5>
                                <b>Description: </b>@series.Description
                                <br />
                                <b>Type: </b>@series.Type
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">
                            No Series found
                        </li>
                    }

                </ul>
            </div>
        </div>
    </form>
</div>

<script>
    function searchSeriesList(searchTerm) {
        var series = document.getElementById("ulSeriesList").getElementsByTagName("li");
        for (var i = 0; i < series.length; i++) {
            if (series[i] != undefined) {
                if (series[i].dataset.seriesName.toLowerCase().includes(searchTerm.toLowerCase())) {
                    series[i].style.display = "block";
                }
                else {
                    series[i].style.display = "none";
                }
            }
        }
    }
</script>