@page "{anOperationId:int?}/{aMessage?}/{isMessageGood:bool?}"
@model ArmisWebsite.OperationMaintenanceModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Operation Maintenance";
}

<head>
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" /> @*FontAwesome*@
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<div class="container-fluid w-75">
    <h1>Operation Maintenance</h1>

    @*Pop up partial*@
    @if (Model.Message != null)
    {<div class="my-2"><partial name="/Pages/shared/partials/popupmessagepartial.cshtml" model="Model.Message" /></div>}

    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                <h3>Create A New Operation</h3>

                @if (Model.CurrentOperationId != 0)
                {
                    <div class="form-inline row mt-2">
                        <label class="col-lg-3 justify-content-end">Operation ID: </label>
                        <input type="text" asp-for="CurrentOperationId" class="form-control col-lg-8" readonly />
                    </div>
                }
                <div class="form-inline row mt-2">
                    <label class="col-lg-3 justify-content-end">Operation Name: </label>
                    <input type="text" asp-for="CurrentOperationName" class="form-control col-lg-8" />
                    <div class="col-lg-3"></div>
                    <span class="text-danger" asp-validation-for="CurrentOperationName"></span>
                </div>

                <div class="form-inline row mt-2">
                    <label class="col-lg-3 justify-content-end">Operation Code: </label>
                    <input type="text" asp-for="CurrentOperationCode" class="form-control col-lg-8" />
                    <div class="col-lg-3"></div>
                    <span class="text-danger" asp-validation-for="CurrentOperationCode"></span>
                </div>

                <div class="form-inline row mt-2">
                    <label class="col-lg-3 justify-content-end">Default Due Days: </label>
                    <input type="number" class="form-control col-lg-8" asp-for="CurrentOperationDefaultDueDays" />
                    <div class="col-lg-3"></div>
                    <span class="text-danger" asp-validation-for="CurrentOperationDefaultDueDays"></span>
                </div>

                <div class="form-inline row mt-2">
                    <label class="col-lg-3 justify-content-end">Thickness Required? </label>
                    <input type="checkbox" asp-for="CurrentOperationThicknessReq" />
                </div>

                <div class="form-inline row mt-2">
                    <label class="col-lg-3 justify-content-end">Operation Group:  </label>
                    <select id="currentOperationGroupName" class="form-control col-lg-8" onchange="chooseOperationGroup(this)">
                        <option></option>
                        @foreach (var operGroup in Model.AllOperationGroups)
                        {
                            <option value="@operGroup.Id" class="list-group-item" >
                                @operGroup.Name
                            </option>
                        }
                    </select>
                    <div class="col-lg-3"></div>
                    <span class="text-danger" asp-validation-for="CurrentOperationGroupId"></span>
                    <input id="currentOperationGroupId" value="" asp-for="CurrentOperationGroupId" hidden/>
                </div>
                <div class="float-right mt-2 mr-5">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a class="btn btn-danger my-1" asp-page="./OperationMaintenance" asp-route-anOperationId="">Clear</a>
                </div>
            </form>
        </div>

        <div class="col-lg-6">
            <h3>All Operations</h3>
            <div class="input-group my-1">
                <input id="inputOperationSearchFilter" type="text" class="form-control border-right-0" placeholder="Search..." onkeyup="searchOperationList(this.value)" />
                <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
                </span>
            </div>
            <ul id="ulOperationsList" class="list-group border-secondary border" style="max-height: 40em; overflow:scroll; overflow-x:hidden;">
                @foreach (var operation in Model.AllOperations)
                {
                    <li class="list-group-item" id="@operation.Id" data-operation-name="@operation.Name">
                        <h6>@operation.Name [@operation.OperShortName]</h6>
                        <p>
                            Due Days: @operation.DefaultDueDays
                            @if (operation.ThicknessIsRequired)
                            {<span class="text-danger"> Thickness is required.</span>}

                            <a class"btn" style="float:right" asp-page="./OperationMaintenance" asp-route-anOperationId="@operation.Id"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                        </p>

                    </li>
                }
            </ul>
        </div>
    </div>



</div>

<script>
    function chooseOperationGroup(theSelectedOption) {
        document.getElementById("currentOperationGroupId").value = theSelectedOption.value;

        $("#operGroupsModal").modal("hide");
    }

    function searchOperationList(searchTerm) {
        var operations = document.getElementById("ulOperationsList").getElementsByTagName("li");
        for (var i = 0; i < operations.length; i++) {
            if (operations[i] != undefined) {
                if (operations[i].dataset.operationName.toLowerCase().includes(searchTerm.toLowerCase())) {
                    operations[i].style.display = "block";
                }
                else {
                    operations[i].style.display = "none";
                }
            }
        }
    }

    function searchOperationGroupList(searchTerm) {
        var operations = document.getElementById("operationGroupSelect").getElementsByTagName("option");
        for (var i = 0; i < operations.length; i++) {
            if (operations[i] != undefined) {
                if (operations[i].value.toLowerCase().includes(searchTerm.toLowerCase())) {
                    operations[i].style.display = "block";
                }
                else {
                    operations[i].style.display = "none";
                }
            }
        }
    }
</script>