@page
@model ArmisWebsite.StepListingModel
@{
    ViewData["Title"] = "StepListing";
}

<head>
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" />
</head>
<div class="container-fluid w-75">
    <h1>Step Listing</h1>


    <div class="input-group my-1">
        <input id="inputStepSearchFilter" type="text" class="form-control border-right-0" placeholder="Search..." onkeyup="searchStepList(this.value)" />
        <span class="input-group-append bg-white border-left-0">
            <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
        </span>
    </div>
    <ul id="listAllSteps" class="list-group" style="max-height: 42em; overflow:scroll;">
        @foreach (var step in Model.Steps)
        {
            <li id="@step.StepId" class="list-group-item" data-step-name="@step.StepName - @step.StepCategory.Code">

                <h5>@step.StepId. @step.StepName [@step.StepCategory.Code]</h5>
                @if (step.SignOffIsRequired == true)
                {<p class="text-danger">Sign-Off Required</p>}
                <b>Instructions: </b>@step.Instructions

                <a style="float:right" asp-page="./StepMaintenance" asp-route-aStepId="@step.StepId"><i class="fa fa-copy" data-toggle="tooltip" title="Copy"></i></a>
            </li>
        }
    </ul>

</div>
<script>
    function searchStepList(searchTerm) {
        var steps = document.getElementById("listAllSteps").getElementsByTagName("li");
        for (var i = 0; i < steps.length; i++) {
            if (steps[i] != undefined) {
                if (steps[i].dataset.stepName.toLowerCase().includes(searchTerm.toLowerCase())) {
                    steps[i].style.display = "block";
                }
                else {
                    steps[i].style.display = "none";
                }
            }
        }
    }
</script>