@page "{aStepId:int?}/{aMessage?}/{isMessageGood:bool?}"
@model ArmisWebsite.StepMaintenanceModel
@{
    ViewData["Title"] = "Step Maintenance";
}

<head>
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" />
</head>

<div class="container-fluid w-75">
    <div class="row">
        <h1>Step Maintenance </h1>
        @if (Model.HelpMessage != null)
        {<partial name="/Pages/shared/partials/popuphelppartial.cshtml" class="text-right" model="Model.HelpMessage" />}
    </div>


    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                <h3>Create A New Step</h3>
                @if (Model.Message != null)
                {
                    @*Preloaded message.*@
                    <p><partial name="/Pages/shared/partials/popupmessagepartial.cshtml" model="Model.Message" /></p>
                }

                <div class="form-inline row mt-2">
                    <label class="col-lg-3 justify-content-end">Step Name: </label>
                    <input type="text" asp-for="StepName" class="form-control col-lg-8" />
                    <div class="col-lg-3"></div>
                    <span asp-validation-for="StepName" class="text-danger"></span>
                </div>

                <div class="form-inline row mt-2">
                    <label class="col-lg-3 justify-content-end">Instructions: </label>
                    <textarea class="form-control col-lg-8" asp-for="StepInstructions" rows="4"></textarea>
                    <div class="col-lg-3"></div>
                    <span asp-validation-for="StepInstructions" class="text-danger"></span>
                </div>

                <div class="form-inline row mt-2">
                    <label class="col-lg-3 justify-content-end">Is sign-off required? </label>
                    @if (Model.Step != null)
                    {
                        @if (Model.Step.SignOffIsRequired == true) { <input type="checkbox" class="form-control" asp-for="IsSignOffRequired" checked /> }
                        else { <input type="checkbox" class="form-control" asp-for="IsSignOffRequired" /> }
                    }
                    else { <input type="checkbox" class="form-control" asp-for="IsSignOffRequired" /> }
                </div>

                <div class="form-inline row mt-2">
                    <label class="col-lg-3 justify-content-end">Step Category: </label>
                    <select asp-for="StepCategoryId" class="form-control col-lg-8">
                        <option></option>
                        @foreach (var stepCategory in Model.StepCategories)
                        {
                            <option value="@stepCategory.Id">
                                @stepCategory.Name
                            </option>
                        }
                    </select>
                    <div class="col-lg-3"></div>
                    <span asp-validation-for="StepCategoryId" class="text-danger"></span>
                </div>
                <div class="float-right mt-2 mr-5">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a class="btn btn-danger text-light" href="/Quality/Process/StepMaintenance">Reset</a>
                </div>
            </form>
        </div>

        <div class="col-lg-6">
            <div class="input-group my-1">
                <input id="inputStepSearchFilter" type="text" class="form-control border-right-0" placeholder="Search..." onkeyup="searchFilter()" />
                <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
                </span>
            </div>

            <ul id="listAllSteps" class="list-group" style="max-height: 42em; overflow-y:scroll;">
                @foreach (var step in Model.AllSteps)
                {
                    <li class="list-group-item" id="@step.StepId">

                        <h5>@step.StepId. @step.StepName [@step.StepCategory.Code]<a class"btn" style="float:right" asp-page="./StepMaintenance" asp-route-aStepId="@step.StepId"><i class="fa fa-copy" data-toggle="tooltip" title="Copy"></i></a></h5>
                        @if (step.SignOffIsRequired == true)
                        {<p class="text-danger">Sign-Off Required</p>}
                        <b>Instructions: </b>
                        <p class="text-break">@step.Instructions</p>

                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script>
    function searchFilter() {
        var filter = document.getElementById("inputStepSearchFilter").value.toLowerCase();
        var listItemsToFilter = document.getElementById("listAllSteps").childNodes;

        for (var i = 0; i < listItemsToFilter.length; i++) {
            if (listItemsToFilter[i].id != undefined) {
                var h5 = listItemsToFilter[i].getElementsByTagName("h5")[0].innerHTML.toLowerCase();
                if (h5.includes(filter)) {

                    listItemsToFilter[i].style.display = "block";
                }
                else {
                    listItemsToFilter[i].style.display = "none";
                }
            }
        }
    }
</script>