@page "{aStepId:int?}/{aMessage?}/{isMessageGood:bool?}"
@model ArmisWebsite.StepMaintenanceModel
@{
    ViewData["Title"] = "Step Maintenance";
}

<head>
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" />
</head>

<div class="container-fluid w-75">
    <div class="row">
        <h1>Step Maintenance </h1>
        @if (Model.HelpMessage != null)
        {<partial name="/Pages/shared/partials/popuphelppartial.cshtml" class="text-right" model="Model.HelpMessage" />}
    </div>


    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                <h3>Create A New Step</h3>
                @if (Model.Message != "" && Model.Message != null)
                {
                    if (Model.IsMessageGood)
                    {<label class="alert alert-success">@Model.Message</label>}
                else
                { <label class="alert alert-danger">@Model.Message</label>}
        }
                <div class="form-group">
                    <label><b>Step Name: </b></label>
                    <input type="text" asp-for="StepName" class="form-control" />
                    <span asp-validation-for="StepName" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label><b>Instructions: </b></label>
                    <textarea class="form-control" asp-for="StepInstructions"></textarea>
                    <span asp-validation-for="StepInstructions" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label><b>Is sign-off required? </b></label>
                    <select class="form-control" asp-for="IsSignOffRequired">
                        @if (Model.Step != null)
                        {
                            @if (Model.Step.SignOffIsRequired == true)
                            {
                                <option></option>
                                <option value="1" selected>Yes</option>
                                <option value="2">No</option>
                            }
                            else if (Model.Step.SignOffIsRequired == false)
                            {
                                <option></option>
                                <option value="1">Yes</option>
                                <option value="2" selected>No</option>
                            }

                        }
                        else
                        {
                            <option></option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        }
                    </select>
                    <span asp-validation-for="IsSignOffRequired" class="alert-danger"></span>
                </div>

                <div class="form-group">
                    <label><b>Step Category: </b></label>
                    <select asp-for="StepCategoryId" class="form-control">
                        <option></option>
                        @foreach (var stepCategory in Model.StepCategories)
                        {
                            <option value="@stepCategory.Id">
                                @stepCategory.Name
                            </option>
                        }
                    </select>
                    <span asp-validation-for="StepCategoryId" class="alert-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-danger text-light" href="/Quality/Process/StepMaintenance">Reset</a>
            </form>
        </div>

        <div class="col-lg-6">
            <div class="input-group my-1">
                <input id="inputStepSearchFilter" type="text" class="form-control border-right-0" placeholder="Search..." onkeyup="searchFilter()" />
                <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
                </span>
            </div>

            <ul id="listAllSteps" class="list-group" style="max-height: 42em; overflow-y:scroll;">
                @foreach (var step in Model.AllSteps)
                {
                    <li class="list-group-item" id="@step.StepId">

                        <h5>@step.StepName<a class"btn" style="float:right" asp-page="./StepMaintenance" asp-route-aStepId="@step.StepId"><i class="fa fa-copy" data-toggle="tooltip" title="Copy"></i></a></h5>
                        @if (step.SignOffIsRequired == true)
                        {<p class="text-danger">Sign-Off Required</p>}
                        <b>Instructions: </b>
                        <p class="text-break">@step.Instructions</p>

                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script>
    function searchFilter() {
        var filter = document.getElementById("inputStepSearchFilter").value.toLowerCase();
        var listItemsToFilter = document.getElementById("listAllSteps").childNodes;

        for (var i = 0; i < listItemsToFilter.length; i++) {
            if (listItemsToFilter[i].id != undefined) {
                var h5 = listItemsToFilter[i].getElementsByTagName("h5")[0].innerHTML.toLowerCase();
                if (h5.includes(filter)) {

                    listItemsToFilter[i].style.display = "block";
                }
                else {
                    listItemsToFilter[i].style.display = "none";
                }
            }
        }
    }
</script>