@page
@model ArmisWebsite.Pages.Quality.Inspection.SamplePlanListingModel
@{
    ViewData["Title"] = "SamplePlanListing";
}
<div class="container-fluid w-75">
    <h1>Sample Plan Listing</h1>
    <ul class="list-group" style="height:42em; overflow-y:scroll;">
        @foreach (var samplePlan in Model.AllSamplePlans)
        {
            <li class="list-group-item">
                <a href="#samplePlanDetails-@samplePlan.SamplePlanId" data-toggle="collapse">@samplePlan.PlanName - @samplePlan.Description</a>
                <div id="samplePlanDetails-@samplePlan.SamplePlanId" class="card border border-dark collapse">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td class="text-center" style="border-bottom-color:black"><u><b>From</b></u></td>
                            <td class="text-center" style="border-right-color:black; border-bottom-color:black"><u><b>To</b></u></td>
                            @if (samplePlan.SamplePlanLevelModels.Any())
                            {
                                var testLevelList = samplePlan.SamplePlanLevelModels.ToList();
                                var firstLevelTests = testLevelList[0].SamplePlanRejectModels;

                                @foreach (var test in firstLevelTests)
                                {
                                    <td class="text-center" style="border-bottom-color:black"><u><b>@test.InspectionTestType.TestCode Sample</b></u></td>
                                    <td class="text-center" style="border-right-color:black; border-bottom-color:black"><u><b>@test.InspectionTestType.TestCode Reject</b></u></td>
                                }

                            }
                        </tr>
                        @foreach (var level in samplePlan.SamplePlanLevelModels)
                        {
                            <tr>
                                <td>@level.FromQty</td>
                                <td style="border-right-color:black">
                                    @if (level == samplePlan.SamplePlanLevelModels.LastOrDefault())
                                    {<text>OVER</text> }
                                else
                                { <text>@level.ToQty</text>}
                                </td>
                                @foreach (var test in level.SamplePlanRejectModels)
                                {
                                    <td class="text-center">@test.SampleQty</td>
                                    <td class="text-center" style="border-right-color:black">@test.RejectAllowQty</td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </li>
        }
    </ul>
</div>
