@page "{handler?}"
@model ArmisWebsite.Pages.OrderEntry.OrderLookupModel
@{
    ViewData["Title"] = "OrderLookup";
}

<div class="container-fluid w-75">
    <h1>Order Lookup</h1>

    @if (Model.Message != null)
    {
        @*Preloaded message.*@
        <p><partial name="/Pages/shared/partials/popupmessagepartial.cshtml" model="Model.Message" /></p>
    }

    <form asp-page-handler="ordernumber" method="get">
        <div class="row">
            <input class="form-control w-50" placeholder="Order Number" asp-for="OrderNumber" value="" />
            <button type="submit" class="btn btn-primary mx-1">Find</button>
        </div>
    </form>

    @if (Model.OrderHead != null)
    {
        <div class="row mt-2">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 card p-2">
                <div class="card-title text-center"><h5>Order # @Model.OrderHead.OrderId</h5></div>
                <div class="row border-bottom mb-2"><span class="col-lg-6">Customer</span> <span class="col-lg-6 flex-align-right">@Model.OrderHead.Customer.Name</span></div>
                <div class="row border-bottom mb-2"><span class="col-lg-6">PO Number</span> <span class="col-lg-6 flex-align-right">@Model.OrderHead.Ponum</span></div>
            </div>
            <div class="col-lg-4"></div>
        </div>

        <div class="row my-2">
            <div class="col-lg-2 card p-2">
                <div class="card-title text-center"><h5>Dates</h5></div>
                <div class="row border-bottom mb-2">
                    <span class="col-lg-6">Order Date</span>
                    <span class="col-lg-6 flex-align-right">@Model.OrderHead.OrderDate.Date.ToShortDateString()</span>
                </div>
                <div class="row border-bottom mb-2">
                    <span class="col-lg-6">Due Date</span>
                    @if (Model.OrderHead.DueDate != null)
                    {<span class="col-lg-6 flex-align-right">@Model.OrderHead.DueDate.Value.Date.ToShortDateString()</span>}
                </div>
                <div class="row border-bottom mb-2">
                    <span class="col-lg-6">Ship Date</span>
                    @if (Model.OrderHead.ShipDate != null)
                    {<span class="col-lg-6 flex-align-right">@Model.OrderHead.ShipDate.Value.Date.ToShortDateString()</span>}
                </div>
                <div class="row border-bottom mb-2">
                    <span class="col-lg-6">Ship Time</span>
                    <span class="col-lg-6 flex-align-right">@Model.OrderHead.ShipTime</span>
                </div>
                <div class="row border-bottom mb-2">
                    <span class="col-lg-6">Requested Date</span>
                    @if (Model.OrderHead.ReqDate != null)
                    {<span class="col-lg-6 flex-align-right">@Model.OrderHead.ReqDate.Value.Date.ToShortDateString()</span>}
                </div>
                <div class="row border-bottom mb-2">
                    <span class="col-lg-6">Done Date</span>
                    @if (Model.OrderHead.DoneDate != null)
                    {<span class="col-lg-6 flex-align-right">@Model.OrderHead.DoneDate.Value.Date.ToShortDateString()</span>}
                </div>
                <div class="row border-bottom mb-2">
                    <span class="col-lg-6">Done Time</span> <span class="col-lg-6 flex-align-right">@Model.OrderHead.DoneTime</span>
                </div>
                <div class="row border-bottom mb-2">
                    <span class="col-lg-6">Target Date</span>
                    @if (Model.OrderHead.TargetDate != null)
                    {<span class="col-lg-6 flex-align-right">@Model.OrderHead.TargetDate.Value.Date.ToShortDateString()</span>}
                </div>
                <div class="row border-bottom mb-2">
                    <span class="col-lg-6">Due Date</span>
                    @if (Model.OrderHead.DueDate != null)
                    {<span class="col-lg-6 flex-align-right">@Model.OrderHead.DueDate.Value.Date.ToShortDateString()</span>}
                </div>
            </div>

            <div class="col-lg-3 p-2 mx-2">
                <div class="card">
                    <div class="card-title text-center"><h5>Shipping</h5></div>
                    @Model.OrderHead.ShipVia.Description
                </div>
                <div class="card mt-2">
                    <div class="card-title text-center"><h5>Container</h5></div>
                    @foreach (var orderRcvds in Model.OrderHead.OrderReceiveds)
                    {
                        <p>@orderRcvds.ReceivedContainer.Description</p>
                    }
                </div>
            </div>

            @{ var currentSpecAssignment = Model.OrderHead.Spec; } @*This is just to make it easier to reference the current spec process assign for the order head model.*@
            <div class="col-lg-6">
                <div class="card p-2">
                    <div class="card-title text-center"><h5>Specification Details</h5></div>
                    @currentSpecAssignment.SpecificationRevision.Description
                    <partial name="/Pages/Quality/Specification/Partials/SpecProcessAssignTablePartial.cshtml" model="@currentSpecAssignment" />
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-6 card">
                <div class="card-title text-center"><h5>Order Details</h5></div>
                <div class="row p-2">
                    @*Titles of the columns*@
                    <div class="col-lg-2 border-right border-bottom"><b>Part ID</b></div>
                    <div class="col-lg-2 border-right border-bottom"><b>Qty</b></div>
                    <div class="col-lg-4 border-right border-bottom"><b>Name</b></div>
                </div>
                @foreach (var orderDetail in Model.OrderHead.OrderDetails)
                {
                    <div class="row p-2">
                        <div class="col-lg-2 border-right border-bottom">@orderDetail.PartId</div>
                        <div class="col-lg-2 border-right border-bottom">@orderDetail.Quantity</div>
                        <div class="col-lg-4 border-right border-bottom">@orderDetail.Part.PartName</div>
                    </div>
                }
            </div>
        </div>

        <div class="row card p-2">
            <div class="card-title text-center"><h5>Packaging/Container</h5></div>
            @Model.OrderHead.Package.Description
        </div>


    }
</div>