@page
@model ArmisWebsite.Pages.Quality.Specification.SpecProcessAssignReviewModel
@{
    ViewData["Title"] = "SpecProcessAssignReview";
}

<div class="container-fluid w-75">
    <h1>Specification-Process Assignment Review</h1>

    <div class="input-group my-1">
        @*Search by... Filter needs to be added.*@
        <input id="inputStepSearchFilter" type="text" class="form-control border-right-0" placeholder="Search..." onkeyup="searchSpecProcessAssignList(this.value)" />
        <span class="input-group-append bg-white border-left-0">
            <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
        </span>
    </div>

    <ul id="allAssignsList" class="list-group" style="height:42em; overflow-y:scroll">
        @foreach (var specProcessAssign in Model.AllSpecProcessAssigns)
        {
            <li class="list-group-item" data-spec="@specProcessAssign.SpecificationRevision.Description">
                Process: <b>@specProcessAssign.ProcessRevision.ProcessName</b>
                Rev: <b>@specProcessAssign.ProcessRevId</b>
                Specification: <b>@specProcessAssign.SpecificationRevision.Description</b>
                Rev: <b>@specProcessAssign.SpecRevId</b>
                <a data-toggle="collapse" href="#specProcAssign_@specProcessAssign.SpecId-@specProcessAssign.SpecRevId-@specProcessAssign.SpecAssignId">Assign ID: @specProcessAssign.SpecAssignId</a>

                <div id="specProcAssign_@specProcessAssign.SpecId-@specProcessAssign.SpecRevId-@specProcessAssign.SpecAssignId" class="row collapse">
                    <div class="card col-lg-3">
                        <b>Choices</b>
                        @if (specProcessAssign.Choice1 != null && specProcessAssign.Choice1.Name != null)
                        {<p>@specProcessAssign.Choice1.Name</p>}
                        @if (specProcessAssign.Choice2 != null && specProcessAssign.Choice2.Name != null)
                        {<p>@specProcessAssign.Choice2.Name</p>}
                        @if (specProcessAssign.Choice3 != null && specProcessAssign.Choice3.Name != null)
                        {<p>@specProcessAssign.Choice3.Name</p>}
                        @if (specProcessAssign.Choice4 != null && specProcessAssign.Choice4.Name != null)
                        {<p>@specProcessAssign.Choice4.Name</p>}
                        @if (specProcessAssign.Choice5 != null && specProcessAssign.Choice5.Name != null)
                        {<p>@specProcessAssign.Choice5.Name</p>}
                        @if (specProcessAssign.Choice6 != null && specProcessAssign.Choice6.Name != null)
                        {<p>@specProcessAssign.Choice6.Name</p>}
                    </div>

                    <div class="card col-lg-3">
                        <b>Details</b>
                        @if (specProcessAssign.Customer != null)
                        {<p>Customer: @specProcessAssign.Customer.Name</p>}
                        @if (specProcessAssign.SeriesOption != null)
                        {<p>Series: @specProcessAssign.SeriesOption.Description [@specProcessAssign.SeriesOption.ShortName] </p>}
                        <p>Hardness: @specProcessAssign.HardnessOptionId</p>

                        <p>Alloy: @specProcessAssign.AlloyOptionId</p>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<script>
    function searchSpecProcessAssignList(searchTerm) {
        var assigns = document.getElementById("allAssignsList").getElementsByTagName("li");
        for (var i = 0; i < assigns.length; i++) {
            if (assigns[i] != undefined) {
                if (assigns[i].dataset.spec.toLowerCase().includes(searchTerm.toLowerCase())) {
                    console.log(assigns[i].dataset.spec.toLowerCase() + " : " + searchTerm);
                    assigns[i].style.display = "block";
                }
                else {
                    assigns[i].style.display = "none";
                }
            }
        }
    }
</script>