@page "{aProcessId:int?}/{aMessage?}"
@model ArmisWebsite.ProcessMaintenanceModel
@{
    ViewData["Title"] = "ProcessMaintenance";
}

<head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" />

    <script>

    </script>

</head>
<body>

    <script>
        function LoadStepModal(aProcessId) {
            if (aProcessId > 0) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', 'https://localhost:44316/api/processes/GetHydratedProcessRevision/' + aProcessId, true)
                xhr.send();

                xhr.onload = function () {
                    var rev = JSON.parse(xhr.responseText);
                    console.log(rev);

                    var stepItemsHtml = '';
                    for (var i = 0; i < rev.Steps.length; i++) {
                        stepItemsHtml +=
                            `<li class="list-group-item">
                                        <a data-toggle="collapse" href="#stepItem` + i +`">`+ rev.Steps[i].StepName+`</a>
                                        <div id="stepItem` + i + `" class="collapse">
                                            <div class="card card-body">
                                                <p>` + rev.Steps[i].Instructions + `</p>
                                            </div>
                                        </div>
                                    </li>`
                    }

                    document.getElementById("modalStepPlaceholder").innerHTML = stepItemsHtml;
                }
            }
        };
    </script>

    <h1>ProcessMaintenance</h1>

    <button class="btn btn-primary" id="btnFindProcessModal" data-toggle="modal" data-target="#modalProcessSelect">Find Process</button>

    <div class="modal fade" id="modalProcessSelect">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Choose a Process Revision To Edit</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <form>
                                <div class="col-md-6">
                                    <select class="list-group" size="12">
                                        @foreach (var process in Model.AllProcesses)
                                        {
                                            <option id="modalProcess-@process.ProcessId" class="list-group-item" onclick="LoadStepModal(@process.ProcessId)">

                                                Name: @process.Name
                                                Current Rev: @process.Revisions.OrderByDescending(i => i.ProcessRevId).FirstOrDefault().ProcessRevId
                                            </option>
                                        }
                                    </select>

                                </div>
                                <div class="col-md-6">
                                    <ul id="modalStepPlaceholder" class="list-group">
                                        <li>Hello!</li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form method="post">
        <div class="row">
            <div class="col-lg-4">
                <h5>Process Details</h5>
                <div class="form-group">
                    <label><b>ID: </b></label>
                    <input class="form-control" type="number" asp-for="CurrentProcess.ProcessId" />
                </div>

                <div class="form-group">
                    <label><b>Name: </b></label>
                    <input class="form-control" type="text" asp-for="CurrentProcess.Name" />
                </div>

                <div class="form-group">
                    <label><b>Customer: </b></label>
                    <input class="form-control" type="text" asp-for="CurrentProcess.CustId" />
                </div>

                <div class="form-group">
                    <label><b>Current Rev: </b></label>
                    <input class="form-control" type="number" asp-for="CurrentRev.ProcessRevId" />
                </div>
            </div>

            <div class="col-lg-4">
                <h5>Current Steps</h5>
                <ul id="sortableCurrentSteps" class="list-group" style="max-height:42em; overflow:scroll;">
                    @if (Model.CurrentRev != null && Model.CurrentRev.Steps != null)
                    {
                        foreach (var step in Model.CurrentRev.Steps)
                        {
                            <li class="list-group-item" id="currentStep-@step.StepId">
                                <h5>
                                    <i class="fa fa-arrows-alt handle"></i>
                                    <a data-toggle="collapse" href="#stepDetails-@step.StepId">@step.StepName</a>
                                </h5>
                                <div id="stepDetails-@step.StepId" class="collapse">
                                    <div class="card card-body">
                                        @if (step.SignOffIsRequired == true)
                                        {<p class="text-danger">Sign-Off Required</p>}
                                        <b>Instructions: </b>@step.Instructions
                                    </div>
                                </div>
                            </li>
                        }
                    }

                </ul>
            </div>

            <div class="col-lg-4">
                <h5>All Steps</h5>
                <ul id="sortableAllSteps" class="list-group" style="max-height:42em; overflow:scroll;">
                    @foreach (var step in Model.AllSteps)
                    {
                        <li class="list-group-item" id="allStep-@step.StepId">
                            <h5>
                                <i class="fa fa-arrows-alt handle"></i>
                                <a data-toggle="collapse" href="#stepDetails-@step.StepId">@step.StepName</a>
                            </h5>
                            <div id="stepDetails-@step.StepId" class="collapse">
                                <div class="card card-body">
                                    @if (step.SignOffIsRequired == true)
                                    {<p class="text-danger">Sign-Off Required</p>}
                                    <b>Instructions: </b>@step.Instructions
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </form>
</body>

<script>
    new Sortable(sortableAllSteps,
        {
            group: {
                name: 'steps',
                pull: 'clone',
                put: false
            },
            handle: '.handle',
            animation: 150,
            ghostClass: 'bg-warning',
            sort: false
        });

    new Sortable(sortableCurrentSteps,
        {
            group: {
                name: 'steps'
            },
            handle: '.handle',
            animation: 150,
            ghostClass: 'bg-warning'
        });
</script>