@page
@model ArmisWebsite.ProcessListingModel
@{
    ViewData["Title"] = "ProcessListing";
}

<head>
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" />
</head>

<h1>Process Listing</h1>
<div id="stepList">
    <div class="row">
        <div class="col-lg-6">
            @*Search bar*@
            <div class="input-group my-1">
                <input id="searchProcesses" class="form-control border-right-0" onkeyup="searchProcessList()" />
                <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
                </span>
            </div>
            @*Process list*@
            <select id="processList" class="list-group w-100" size="12" style="overflow:scroll;">
                @foreach (var process in Model.Processes)
                {
                    <option class="list-group-item" id="process-@process.ProcessId" onmousedown="loadSteps(@process.ProcessId, '@process.Name')">
                        @process.ProcessId: @process.Name
                        (Rev:
                        @if (process.Revisions != null && process.Revisions.Any())
                        {
                            @process.Revisions.Last().ProcessRevId
                        }
                        else
                        {
                            <p>NONE</p> @*tags aren't supposed to be in the <option> tag, so it doesn't actually render the <p> tag, but it is the only way to escape the c# code.*@
                        })
                    </option>
                }
            </select>
        </div>
        @*This is where the steps will be loaded*@
        <div class="col-lg-6">
            <h5 id="stepTitle"></h5>
            <ul id="stepsPlaceholder" class="list-group">
            </ul>
        </div>

    </div>
</div>

<script>
    function searchProcessList() {
        var searchTerm = document.getElementById("searchProcesses").value.toUpperCase();
        var processList = document.getElementById("processList");
        var processListItems = processList.getElementsByTagName("option");

        for (var i = 0; i < processListItems.length; i++) {
            if (!processListItems[i].textContent.toUpperCase().includes(searchTerm)) {
                processListItems[i].style.display = "none";
            }
            else {
                processListItems[i].style.display = "block";
            }
        }
    }

    //TODO:This is the same code that is in Process Rev Maintenance. See if this can be put into its own file and pulled into each of these htmls.
    function loadSteps(aProcessId, aProcessName) {
        if (aProcessId > 0) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '@Model._apiAddress' + 'api/processes/GetHydratedProcessRevision/' + aProcessId, true);
            xhr.send();

            xhr.onload = function () {

                var rev = JSON.parse(xhr.responseText);
                console.log(rev);
                var stepItemsHtml = '';
                if (xhr.status != 404) {
                    for (var i = 0; i < rev.Steps.length; i++) {
                        var signOffReqHtml = '';
                        if (rev.Steps[i].SignOffIsRequired == true) {
                            signOffReqHtml = `<p class="text-danger">Sign-Off Required</p>`;
                        }
                        stepItemsHtml +=

                            `<li class="list-group-item">
                                                <a data-toggle="collapse" href="#stepItem` + i + `">` + rev.Steps[i].StepName + `</a>
                                                <div id="stepItem` + i + `" class="collapse">
                                                    <div class="card card-body">`+
                            signOffReqHtml +
                            `<p>` + rev.Steps[i].Instructions + `</p>
                                                    </div>
                                                </div>
                                            </li>`
                    };
                }
                else {
                    stepItemsHtml = 'There are no steps for this process.'
                }
                document.getElementById("stepsPlaceholder").innerHTML = stepItemsHtml;
                document.getElementById("stepTitle").innerHTML = aProcessName.toString();

            }
        }
    }
</script>