@page
@model ArmisWebsite.Pages.ProcessMaintenance.SpecificationListingModel
@{
    ViewData["Title"] = "SpecificationListing";
}

<h1>Specification Listing</h1>
<div id="collapseGroup" class="accordion">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group my-1">
                <input class="form-control border-right-0" placeholder="Code..." onkeyup="searchSpecList(this.value)" />
                <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
                </span>
            </div>
            <ul id="specificationList" class="list-group" style="height:45em; overflow-y:scroll">
                @foreach (var spec in Model.AllSpecs)
                {
                    var theCurrentSpecRev = spec.SpecRevModels.OrderByDescending(i => i.InternalRev).FirstOrDefault(); //Grabs the most current revision.

                    <li id="@spec.Code" class="list-group-item">
                        <a class="text-dark" data-toggle="collapse" href="#specDetails-@spec.Id-@theCurrentSpecRev.InternalRev">
                            <b>@spec.Code</b>
                            Rev: @if (theCurrentSpecRev.ExternalRev.Trim() != "")
                            {<b>@theCurrentSpecRev.ExternalRev</b> }
                        else
                        {<b>NONE</b>}
                            Sublevels: <b>[@theCurrentSpecRev.SubLevels.Count()]</b>
                        </a>
                        <a class"btn" style="float:right" href="./SpecificationCreation?CurrentSpecId=@spec.Id"><i class="fa fa-edit"></i></a> @*asp-route-aSpecId="@spec.Id"*@
                        @if (theCurrentSpecRev.Description.Trim() != "")
                        {<p> Description: <b>@theCurrentSpecRev.Description</b> </p>}
                    </li>
                }
            </ul>
        </div>

        <div class="col-lg-6">
            <ul class="list-group">
                @foreach (var spec in Model.AllSpecs)
                {
                    var theCurrentSpecRev = spec.SpecRevModels.OrderByDescending(i => i.InternalRev).FirstOrDefault(); //Grabs the most current revision

                    <li id="specDetails-@spec.Id-@theCurrentSpecRev.InternalRev" class="list-group-item collapse" data-parent="#collapseGroup">
                        <p><b>Code: </b>@theCurrentSpecRev.Description </p>
                        <p><b>Rev: </b>@theCurrentSpecRev.ExternalRev </p>
                        <b>Sublevels</b>
                        <ul class="nested">
                            @foreach (var subLevel in theCurrentSpecRev.SubLevels)
                            {
                                <li>
                                    @subLevel.Name
                                    <ul class="nested">
                                        @foreach (var choice in subLevel.Choices)
                                        {
                                            <li class="">
                                                @choice.Name
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script>
    function searchSpecList(searchTerm) {
        var specListItems = document.getElementById("specificationList").getElementsByTagName("li");

        for (var i = 0; i < specListItems.length; i++) {
            if (specListItems[i].id.toLowerCase().startsWith(searchTerm.toLowerCase())) {
                specListItems[i].hidden = false;
            }
            else {
                specListItems[i].hidden = true;
            }
        }
    }
</script>