@page
@model ArmisWebsite.StepListingModel
@{
    ViewData["Title"] = "StepListing";
}

<head>
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" />
</head>

<h1>Step Listing</h1>

<body>
    <ul class="list-group" style="max-height: 42em; overflow:scroll;">
        @foreach (var step in Model.Steps)
        {
            <li class="list-group-item" id="@step.StepId">

                <div style="clear: both"><h5>@step.StepId @step.StepName</h5> Sign off? @step.SignOffIsRequired</div>
                @step.Instructions
                @foreach (var variable in step.Variables)
                {
                    <p>@variable.Template.Name</p>
                    @if (variable.UnitOfMeasure != null)
                    {<p>@variable.UnitOfMeasure.Description</p>}
                    @if (variable.Min != null)
                    {<p>Min: @variable.Min</p>}
                    @if (variable.Max != null)
                    {<p>Max: @variable.Max</p>}

                }
                <a class"btn" style="float:right" asp-page="./StepMaintenance" asp-route-aStepId="@step.StepId"><i class="fa fa-edit"></i></a>
            </li>
        }
    </ul>
</body>