@page "{aStepId:int?}/{aMessage?}"
@model ArmisWebsite.StepMaintenanceModel
@{
    ViewData["Title"] = "Step Maintenance";
}

<head>
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" />
</head>
<div class="row">
    <h1>Step Maintenance </h1>
    @if (Model.HelpMessage != null)
    {<partial name="/Pages/shared/partials/popuphelppartial.cshtml" class="text-right" model="Model.HelpMessage" />}
</div>

<body>

    @*Pop up partial*@
    <partial name="/Pages/shared/partials/popupmessagepartial.cshtml" model="Model.PopUpMessage" />
    
    <div class="row">

        <div class="col-lg-6">
            <form method="post" asp-page-handler="NewStep">
                <h3>Create A New Step</h3>
                @if (Model.Message != "" && Model.Message != null)
                {<label class="alert alert-danger">@Model.Message</label>}
                <div class="form-group">
                    <label><b>Step Name: </b></label>
                    <input type="text" asp-for="StepName" class="form-control" />
                    @*<span asp-validation-for="" class="alert-danger"></span>*@
                </div>

                <div class="form-group">
                    <label><b>Instructions: </b></label>
                    <textarea class="form-control" asp-for="StepInstructions"></textarea>
                    @*<span asp-validation-for="" class="alert-danger"></span>*@
                </div>

                <div class="form-group">
                    <label><b>Is sign-off required? </b></label>
                    <select class="form-control" asp-for="IsSignOffRequired">
                        @if (Model.Step != null)
                        {
                            @if (Model.Step.SignOffIsRequired == true)
                            {
                                <option value="0"></option>
                                <option value="1" selected>Yes</option>
                                <option value="2">No</option>
                            }
                            else if (Model.Step.SignOffIsRequired == false)
                            {
                                <option value="0"></option>
                                <option value="1">Yes</option>
                                <option value="2" selected>No</option>
                            }

                        }
                        else
                        {
                            <option value="0"></option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        }
                    </select>
                    @*<span asp-validation-for="" class="alert-danger"></span>*@
                </div>

                <div class="form-group">
                    <label><b>Step Category: </b></label>
                    <input type="text" asp-for="StepCategory" class="form-control" />
                    @*<span asp-validation-for="" class="alert-danger"></span>*@
                </div>
                <button type="submit" class="btn btn-outline-primary">Save</button>
            </form>
        </div>

        <div class="col-lg-6">
            <input id="inputStepSearchFilter" type="text" class="form-control my-1" placeholder="Search..." onkeyup="searchFilter()" />

            <ul id="listAllSteps" class="list-group" style="max-height: 42em; overflow:scroll;">
                @foreach (var step in Model.AllSteps)
                {
                    <li class="list-group-item" id="@step.StepId">

                        <h5>@step.StepId @step.StepName</h5>
                        @if (step.SignOffIsRequired == true)
                        {<p class="text-danger">Sign-Off Required</p>}
                        <b>Instructions: </b>@step.Instructions

                        <a class"btn" style="float:right" asp-page="./StepMaintenance" asp-route-aStepId="@step.StepId"><i class="fa fa-copy"></i></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</body>

<script>
    function searchFilter() {
        var filter = document.getElementById("inputStepSearchFilter").value.toLowerCase();
        var listItemsToFilter = document.getElementById("listAllSteps").childNodes;

        for (var i = 0; i < listItemsToFilter.length; i++) {
            if (listItemsToFilter[i].id != undefined) {
                var h5 = listItemsToFilter[i].getElementsByTagName("h5")[0].innerHTML.toLowerCase();
                if (h5.includes(filter)) {
                    
                    listItemsToFilter[i].style.display = "block";
                }
                else {
                    listItemsToFilter[i].style.display = "none";
                }
            }
        }
    }
</script>