@page "{aStepId:int}"
@model ArmisWebsite.StepVariableMaintenanceModel
@{
    ViewData["Title"] = "StepVariableMaintenance";
}

<h1>Variables For Step: @Model.Step.StepName</h1>
<button class="btn btn-primary" onclick="addVariableCard()">Add Variable</button>
<label id="variableVardCount"></label>
<form method="post" >
    <div id="variableAdditions" class="row">

    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>

<script>
    var variableCardCount = 0;

    function addVariableCard() {
        variableCardCount++;
        var newDiv = document.createElement('div');
        newDiv.className = 'col-lg-3 card'
        newDiv.innerHTML = `<h5>Variable #: ` + variableCardCount +`</h5>
                            <label><b>Template</b></label>

                            <select class="list-group" size="6" name="template`+ variableCardCount +`">
                            @foreach (var template in Model.VariableTemplateModels)
                            {
                                <option class="list-group-item" value="@template.Code" style="white-space:pre-wrap">
                                    @template.Name (@template.Type.Description)
                                </option>
                            }
                            </select>

                            <label> <b>Min:</b></label>
                            <input class="form-control" type="number" name="Min`+ variableCardCount +`" />

                            <label><b>Max:</b></label>
                            <input class="form-control" type="number" name="Max`+ variableCardCount +`" />

                            <label><b>Unit Of Measure</b></label>
                            <select class="mdb-select md-form colorful-select dropdown-primary" name="Uom`+ variableCardCount +`">
                                @foreach (var uom in Model.UomModels)
                                {
                                    <option value="@uom.Code">
                                        @uom.Description
                                    </option>
                                }
                            </select>`;

        document.getElementById("variableAdditions").append(newDiv);
        
        var testLabel = document.getElementById("TESTCOUNT");
        testLabel.innerHTML = variableCardCount;
    }
</script>