@page "{aStepId:int?}"
@model ArmisWebsite.StepMaintenanceModel
@{
    ViewData["Title"] = "Step Maintenance";
}

<head>
    <link href="~/lib/fontawesome-free-5.12.0-web/css/all.min.css" rel="stylesheet" />
</head>
<h1>Step Maintenance</h1>

<body>
    <div class="row">

        @*<div id="variableTemplateModal" class="modal">
            <div class="modal-content">
                    <div class="card">
                        <div class="card-header"><h3>Select a Variable Template</h3></div>
                        <select id="slctVariableTemplate" class="list-group" size="16" asp-for="VariableTemplateToAdd">
                            @foreach (var template in Model.VariableTemplateModels)
                            {
                                <option class="list-group-item" value="@template.Code">
                                    @template.Name (@template.Type.Description)
                                </option>
                            }
                        </select>
                        <button id="btnCloseVariableTemplateModal" class="btn btn-primary">Add Variable Template</button>
                    </div>
            </div>
        </div>*@

        <div class="col-lg-6">
            <form method="post" asp-page-handler="NewStep">
                <h3>Create A New Step</h3>

                <div class="form-group">
                    <label><b>Step Name: </b></label>
                    <input type="text" asp-for="StepName" class="form-control" />
                    @*<span asp-validation-for="" class="alert-danger"></span>*@
                </div>

                <div class="form-group">
                    <label><b>Instructions: </b></label>
                    <textarea class="form-control" asp-for="StepInstructions"></textarea>
                    @*<span asp-validation-for="" class="alert-danger"></span>*@
                </div>

                <div class="form-group">
                    <label><b>Is sign-off required? </b></label>
                    <select class="form-control" asp-for="IsSignOffRequired">
                        <option value="0"></option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                    @*<span asp-validation-for="" class="alert-danger"></span>*@
                </div>

                <div class="form-group">
                    <label><b>Step Category: </b></label>
                    <input type="text" asp-for="StepCategory" class="form-control" />
                    @*<span asp-validation-for="" class="alert-danger"></span>*@
                </div>
                <button type="submit" class="btn btn-outline-secondary">Save</button>
            </form>
        </div>

        @*<div class="col-lg-6 col text-center">
            <button class="btn btn-primary" id="btnOpenVariableTemplateModal">Add Variable</button>
            <ul class="list-group" style="max-height:2em" overflow:scroll>
                @if (Model.Step != null && Model.Step.Variables != null && Model.Step.Variables.Any())
                {
                    foreach (var variable in Model.Step.Variables)
                    {
                        <li class="list-group-item">
                            @switch (variable.Template.Type.Code)
                            {
                                case "List":
                                    <p><b>Template:</b> @variable.Template.Name</p>
                                    break;
                                case "LOT":
                                    <p><b>Template:</b> @variable.Template.Name</p>
                                    <div class="form-group">
                                        <label><b>Min:</b></label>
                                        <input class="form-control" type="number" value="@variable.Min" />
                                    </div>
                                    <div class="form-group">
                                        <label><b>Max:</b></label>
                                        <input class="form-control" type="number" value="@variable.Max" />
                                    </div>
                                    <div class="form-group">
                                        @{Model.UOMSelectItems.FirstOrDefault(i => i.Value == variable.UnitOfMeasure.Code).Selected = true; }
                                        <label><b>Unit Of Measure</b></label>
                                        <select class="form-control" asp-items="Model.UOMSelectItems"></select>
                                    </div>
                                    break;
                                case "NUM":
                                    <p><b>Template:</b> @variable.Template.Name</p>
                                    break;
                                case "TEXT":
                                    <p><b>Template:</b> @variable.Template.Name</p>
                                    break;
                                case "TOD":
                                    <p><b>Template:</b> @variable.Template.Name</p>
                                    break;
                                default:
                                    break;
                            }
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">
                        <i>Your variables here</i>
                    </li>
                }

            </ul>
        </div>*@

    </div>
</body>

<script>
    var varTempModal = document.getElementById("variableTemplateModal");
    var btnOpenVarTempModal = document.getElementById("btnOpenVariableTemplateModal");
    var btnCloseVarTempModal = document.getElementById("btnCloseVariableTemplateModal");
    var slctVarTemp = document.getElementById("slctVariableTemplate");

    btnOpenVarTempModal.onclick = function () {
        varTempModal.style.display = "block";
    }

    btnCloseVarTempModal.onclick = function () {
        varTempModal.style.display = "none";
    }
</script>